@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

#footer_wrap {
    clear: both;
    width: 100%;
    min-width: 1200px;
    min-height: 200px;
    height: auto;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.footer_menu_elements{
	display: inline;
}

