@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* * {
	margin: 0;
	padding: 0;
} */

.total-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main-contents{
	min-height: 100%;
	margin: -100px 0 -50px;
}

*html #main-contents {
	height: 100%;
}

#content {
	padding: 100px 0 50px;
}
/*  */

.main-contents{
	flex: 1;
}

.footer_menu_elements {
	display: inline;
}