@charset "UTF-8";

#join-caption{
	text-align: center;
}
#joinTable {
	margin: 100px 700px 0;
	width: 50%;
	padding-top: 0px;
	padding-bottom: 15%;

} 

.button{
	background-color: #000000de;
    color: white;
    vertical-align: middle;
    border: 0;
    margin-left: 6px;
    height: 23px;
}