@charset "UTF-8";

table {
	font-family: Malgun Gothic;
	font-size: 10pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 1400px;
	border-collapse: collapse;
	margin-bottom: 60px;
}

tr {
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding-top: 2px;
	padding-bottom: 2px;
}

th, td {
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
}

th {
	text-align: left;
}

#usr-wrapper {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 29%;
	margin: 0 auto;
}

#usr-table {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-bottom: 0;
}

#usr-subject {
	text-align: center;
	margin-bottom: 50px;
}

.usr_list {
	text-align: left;
}

td {
	min-width: 70px;
}

.usr_list {
	color: #606663;
}

#searchMember {
	text-align: left;
}

#btwrap {
	margin-left: 5px;
	padding-top: 50px;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-top-style: hidden;
}

#actionbt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: #000;
	background-color: white;
}

.thumb {
	width: 100px;
	height: 100px;
}

a, b {
	font-size: 10pt;
	letter-spacing: 0.06em;
}

#member-page{
	border-bottom: 0;
}

#searchBtn{
	background-color: black;
	color: white;
	vertical-align: middle;
	border: 0;
	margin-left: 6px;
	height: 21px;
}

#boardNum {
	text-align: center;
}