<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<!-- 프로젝트에 사용되는 파라미터 -->
	<!-- application 내장 객체가 읽어들인다. -->
	<!--<context-param>
		<param-name>pageSize</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>pageBlock</param-name>
		<param-value>10</param-value>
	</context-param>
	<servlet>
		<servlet-name>MyWebServlet</servlet-name>
		<servlet-class>com.edu.bbs.BBSServlet</servlet-class>
		<init-param>
			<param-name>MyWebProperties</param-name>
			<param-value>C:\Project\MyWeb\WebContent\MyWeb.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyWebServlet</servlet-name>
		<url-pattern>*.MyWeb</url-pattern>
	</servlet-mapping> 에러 페이지 처리
	<error-page>
		<error-code>404</error-code>
		<location>/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorPage.jsp</location>
	</error-page>-->
</web-app>